<!doctype html>
<html>
<body>

<center>
    <h4>Shreya Patel, 1001646429</h4>
    <header><h1> Home </h1></header>
    <label><h3>Display the no of records:</h3></label>

    <h3>********************* Exam 3 ****************</h3>

    <h3>************************** queries for depth range 5th **************************</h3>
    <form action="{{ url_for('depth5') }}" method="POST">

        <label>depth1:</label>
        <input type="text" name="depth1"/>
        <label>depth2:</label>
        <input type="text" name="depth2"/>
        <label>longitute:</label>
        <input type="text" name="lon"/>
        <input type="submit" value="submit"/><br>
    </form>
    <h3>************************** queries for depth range 6th **************************</h3>
    <form action="{{ url_for('depth6') }}" method="POST">
        <label>Enter number:</label>
        <input type="text" name="num"/>
        <label>depth1:</label>
        <input type="text" name="depth1"/>
        <label>depth2:</label>
        <input type="text" name="depth2"/>
        <input type="submit" value="submit"/><br>
    </form>
    <h3>************************** queries for depth range 7th **************************</h3>
    <form action="{{ url_for('depth7') }}" method="POST">
        <label>Enter number:</label>
        <input type="text" name="num"/>
        <label>depth1:</label>
        <input type="text" name="depth1"/>
        <label>depth2:</label>
        <input type="text" name="depth2"/>
        <select name="opt">
            <option value="im">in memory</option>
            <option value="n">none</option>
            <option value="all">all</option>
            <input type="submit" value="submit"/>
        </select>
        <br>
    </form>
    <h3>************************** queries for depth range 8th **************************</h3>
    <form action="{{ url_for('depth8') }}" method="POST">
        <label>Enter number:</label>
        <input type="text" name="num"/>
        <label>depth1:</label>
        <input type="text" name="depth1"/>
        <label>depth2:</label>
        <input type="text" name="depth2"/>
        <input type="submit" value="submit"/><br>
    </form>


    #####################################
    <form action="{{ url_for('options') }}" method="POST">
        <label>Enter number:</label>
        <input type="text" name="num"/>
        <input type="submit" value="submit"/><br>
    </form>
    <h3>********************* Restricted Queries ************************</h3></header>

    <h1></h1>
    <label><h3>Enter the number of queries and :</h3></label>
    <form action="{{ url_for('options2') }}" method="POST">
        <label>Enter number:</label>
        <input type="text" name="num"/>
        <label>Enter Location:</label>
        <input type="text" name="loc"/>
        <input type="submit" value="submit"/><br>
    </form>
    <h3> ********************** Long, lat, N <100 km ************************ </h3>
    <form action="{{ url_for('distance') }}" method="POST">
        <label>Enter number:</label>
        <input type="text" name="num"/>
        <label>latitude:</label>
        <input type="text" name="lat1"/>
        <label>longitude:</label>
        <input type="text" name="lon1"/>
        <label>kms:</label>
        <input type="text" name="kms"/>
        <input type="submit" value="submit"/><br>
    </form>
    <label><h3>Search by time:</h3></label><br>
    <form action="{{ url_for('timerange') }}" method="POST">
        <label>Enter number:</label>
        <input type="text" name="num"/>
        <label>time1:</label>
        <input type="text" name="time1"/>
        <label>time2:</label>
        <input type="text" name="time2"/>
        <input type="submit" value="submit"/><br>
    </form>


    <h3>************************** queries for mag range **************************</h3>
    <form action="{{ url_for('options3') }}" method="POST">
        <label>Enter number:</label>
        <input type="text" name="num"/>
        <label>mag1:</label>
        <input type="text" name="mag1"/>
        <label>mag2:</label>
        <input type="text" name="mag2"/>
        <input type="submit" value="submit"/><br>
    </form>

    <h3>************************** quiz 6th question without redis**************************</h3>
    <form action="{{ url_for('quiz36') }}" method="POST">
        <label>Enter number:</label>
        <input type="text" name="num"/>
        <label>letter:</label>
        <input type="text" name="loc"/>
        <input type="submit" value="submit"/><br>
    </form>

    <h3>************************** quiz 6th question with redis**************************</h3>
    <form action="{{ url_for('quiz36r') }}" method="POST">
        <label>Enter number:</label>
        <input type="text" name="num"/>
        <label>letter:</label>
        <input type="text" name="loc"/>
        <input type="submit" value="submit"/><br>
    </form>


</center>
</body>
</html>