<!doctype html>
<html>

   <body>

   <center>
      <header> <h1> Total Number of rows</h1> </header>
      <br> <br>
      <table border=1>
    <thead>
    <td>time</td>
    <td>latitude</td>
    <td>longitude</td>
    <td>depth</td>
    <td>mag</td>
    </thead>
    <tbody>
    {% for rows in  data[1] %}

        <tr>
            <td>{{rows[1]}}</td>
            <td>{{rows[2]}}</td>
            <td>{{rows[3]}}</td>
            <td>{{rows[4]}}</td>
            <td>{{rows[5]}}</td>
        </tr>

    {% endfor %}

    </tbody>
</table>
      <h1>COUNT:{{data[0]}}</h1>
      <br>
      <h2> <a href = "/">Home</a> </h2>
   </center>
   </body>
</html>